* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.bgBeige {
  background-color: #f6e9e0;
}

.container {
  padding: 0 2rem;
}

.fadeInLeftBig {
  animation: fadeInLeftBig;
  animation-duration: 1.2s;
}

.fadeInRightBig {
  animation: fadeInRightBig;
  animation-duration: 1.2s;
}
