.header {
  width: 100%;
  position: relative;
  height: 8svh;
}

.header__navbar {
  padding: 1rem 0;
}

.header__logo {
  color: #000;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 1.25rem;
  margin-right: auto;
}

.header__navbar--list,
.header__navbar {
  display: flex;
  align-items: center;
}

.header__navbar--list {
  gap: 1rem;
}

.header__navbar--link {
  font-size: 1.1rem;
  color: #7f736c;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.bookBtn {
  background-color: #381d08;
  padding: 0.75rem;
  border-radius: 0.75rem;
}
.header__burgerMenu {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__navbar--list {
    display: none;
  }
  .header__burgerMenu {
    display: block;
  }
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
