.username {
  font-size: 1.25rem;
  text-transform: capitalize;
  color: #fff;
}

.notLoggedIn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
